<p>
  <strong>Arduino:</strong>
  <%= link_to 'Arduino', discipline_arduino_path(@discipline) %> |
</p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @discipline.workload %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @discipline.curso.nome %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @discipline.professor.nome %>
</p>

<p>
  <strong>Ementa:</strong>
  <%= @discipline.ementa %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discipline.description %>
</p>

<p>
  <strong>Bibliography:</strong>
  <%= @discipline.bibliography %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
