<%= form_for @user, url: create_user_path do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3>Sign up</h3>
    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :perfil %>
      <% if current_user.role == 'administrador' %>
        <%= f.select :role, options_for_select([["Aluno", "aluno"], ["Professor", "professor"], ["Coordenador", "coordenador"], ["Administrador", "administrador"]], params[:role])%>
      <% elsif current_user.role == 'coordenador' %>
        <%= f.select :role, options_for_select([["Aluno", "aluno"], ["Professor", "professor"]], params[:role])%>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => false, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit :class => 'button right' %>
<% end %>