<div class="authform">
  <h1>Editing User</h1>
  <%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3>Sign up</h3>
    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, :autofocus => true, class: 'form-control' %>
    </div>
    <% if current_user.role == 'administrador' || current_user.role == 'coordenador' %>
        <div class="form-group">
          <%= f.label :perfil %>
          <% if current_user.role == 'administrador' %>
            <%= f.select :role, options_for_select([["Aluno", "aluno"], ["Professor", "professor"], ["Coordenador", "coordenador"], ["Administrador", "administrador"]], params[:role])%>
          <% elsif current_user.role == 'coordenador' %>
            <%= f.select :role, options_for_select([["Aluno", "aluno"], ["Professor", "professor"]], params[:role])%>
          <% end %>
        </div>
    <% end %>
    <%= f.submit :class => 'button right' %>
<% end %>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
