<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @curso.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @curso.descricao %>
</p>

<p>
  <strong>Coordenador:</strong>
  <%= @curso.coordenador.nome %>
</p>

<p>
  <strong>Disciplinas:</strong>
  <% @curso.disciplines.each do |discipline| %>
    <p><%= discipline.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
