<%= form_for(@registration_course) do |f| %>
  <% if @registration_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_course.errors.count, "error") %> prohibited this registration_course from being saved:</h2>
      <ul>
      <% @registration_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params.has_key?(:id) %>
    <div class="field">
      <%= f.label :locked %>
      <%= f.check_box :locked %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :curso_id %><br>
    <%= f.select :curso_id, Curso.all.collect { |curso| [ curso.nome, curso.id ] }, {prompt: "Selecione um curso"}, :selected => params[:curso_id] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
