<p id="notice"><%= notice %></p>

<p>
  <strong>Admission date:</strong>
  <%= @registration_course.admission_date %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @registration_course.locked %>
</p>

<p>
  <strong>Conclusion date:</strong>
  <%= @registration_course.conclusion_date %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @registration_course.curso %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @registration_course.aluno %>
</p>

<%= link_to 'Edit', edit_registration_course_path(@registration_course) %> |
<%= link_to 'Back', registration_courses_path %>
