<h1>Listing Arduinos</h1>

<table>
  <thead>
    <tr>
      <th>Sala</th>
      <th>Disponivel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arduinos.each do |arduino| %>
      <tr>
        <td><%= arduino.room %></td>
        <td><%= arduino.available %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo arduino', new_arduino_client_path %>
