<%# add navigation links to this file %>
<li><%= link_to 'Cursos', cursos_path %></li>
<li><%= link_to 'Disciplinas', disciplines_path %></li>
<li><%= link_to 'Usuarios', users_path %></li>
<li><%= link_to 'Meus Cursos', registration_courses_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Editar perfil', edit_user_path(current_user) %></li>
  <li><%= link_to 'Editar conta', edit_user_registration_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Cadastrar-se', new_user_registration_path %></li>
<% end %>
